apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: artifactCopier
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - list
  - get
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
