---
name: 'run enki unit tests'

on:
  pull_request:

concurrency:
  group: enki-${{ github.ref || github.head_ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: earthly/actions-setup@v1.0.8
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build
        run: cd tools-image/enki && earthly -P +test
